* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Magistral';
}


::-webkit-scrollbar { /* chrome based */
    width: 0px; /* ширина scrollbar'a */
    background: transparent; /* опционально */
}

html {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

p {
    margin: 0;
    font-weight: 600;
}

.nav-link{
    font-weight: 600;
}
.navbar-brand {
    font-size: 24px;
    padding: 0;
    line-height: 24px;
    margin-left: 55px;
    font-weight: 600;
}
.logo_image {
    position: absolute;
    top: 8px;
    left: 15px;
    height: 40px;
    width: 40px;
    object-fit: contain;
}

body {
    background-color: #EFEFEF;
}

.fire_navbar {
    position: absolute;
    top: 7px;
    right: 90px;
    animation: 4s linear 0s normal none infinite running transp;
    -webkit-animation: 4s linear 0s normal none infinite running transp;
    display: none;
}



@keyframes transp {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rot {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
