@{
    ViewData["Title"] = "Энергетика";
}

<link href="~/css/Energetics.css" rel="stylesheet" />

<div class="content">
    <div class="RU04">
        <img id="RU04_mobile" src="~/img/RU04_mobile.svg"/>
        <img id="image_of_RU04" src="~/img/RU04_vector.svg" />
        <img id="greenpipes" src="~/img/greenpipes.svg">
        <img id="bluepipes" src="~/img/bluepipes.svg">

        @*АВР-НН*@
        <p id="input1_lablel">ввод 1</p>
        <p id="input2_lablel">ввод 2</p>
        <p id="RU04_label">РУ-0,4кВ</p>

        @*счетчик после первого ввода*@
        <p id="count1_power_label" class="valueName">Питание</p>
        <p id="count1_power_on">Err</p>
        <p id="count1_frequency_label" class="valueName">Частота</p>
        <p id="count1_frequency_value"><span id="Count1_frequency">Err</span> ГЦ</p>
        <p id="Count1_value">000000</p>

        @*счетчик 1 РУ04кВ*@
        <p id="count2_power_label" class="valueName">Питание</p>
        <p id="count2_power_on">Err</p>
        <p id="count2_frequency_label" class="valueName">Частота</p>
        <p id="count2_frequency_value"><span id="Count2_frequency">Err</span> ГЦ</p>
        <p id="Count2_value">000000</p>
        <p id="countNum2">009112150288102</p>
        <p id="count2_DateTime" style="display:none">16-11-29 13.05.21</p>

        @*счетчик 2 РУ04кВ*@
        <p id="count3_power_label" class="valueName">Питание</p>
        <p id="count3_power_on">Err</p>
        <p id="count3_frequency_label" class="valueName">Частота</p>
        <p id="count3_frequency_value"><span id="Count3_frequency">Err</span> ГЦ</p>
        <p id="Count3_value">000000</p>
        <p id="countNum3">009112150288098</p>
        <p id="count3_DateTime" style="display:none">16-11-29 13.05.21</p>

        @*счетчик после второго ввода*@
        <p id="count4_power_label" class="valueName">Питание</p>
        <p id="count4_power_on">Err</p>
        <p id="count4_frequency_label" class="valueName">Частота</p>
        <p id="count4_frequency_value"><span id="Count4_frequency">Err</span> ГЦ</p>
        <p id="Count4_value">000000</p>


        @*АВР-НН*@
        <p id="label_Avr" class="titleLabel">АВР-НН</p>
        <p id="NN_line_voltage" class="valueName">Напряжение линий</p>
        <p id="NN_L1L2"><span id="AVR_NN_frequency_L1L2_L"> - </span> - L1-L2 - <span id="AVR_NN_frequency_L1L2_R"> - </span></p>
        <p id="NN_L2L3"><span id="AVR_NN_frequency_L2L3_L"> - </span> - L2-L3 - <span id="AVR_NN_frequency_L2L3_R"> - </span></p>
        <p id="NN_L3L1"><span id="AVR_NN_frequency_L3L1_L"> - </span> - L3-L1 - <span id="AVR_NN_frequency_L3L1_R"> - </span></p>
        <p id="NN_line_frequency" class="valueName">Частота на линиях</p>
        <p id="NN_L1">L1 - <span id="AVR_NN_frequency_L1"> - </span></p>
        <p id="NN_L2">L2 - <span id="AVR_NN_frequency_L2"> - </span></p>


    </div>
    <div class="DGU">
        <img id="image_of_DGU" src="~/img/DGU_large.svg" />

        <p id="DGU1_label">ДГУ1</p>
        <p id="DGU2_label">ДГУ2</p>
        <p id="RUDGU_label">РУ-ДГУ</p>
        <p id="AVRDGU_label" class="titleLabel">АВР-ДГУ</p>

        @*АВР-ДГУ*@
        <p id="DGU_line_voltage" class="valueName">Напряжение линий</p>
        <p id="DGU_L1L2"><span id="AVR_DGU_frequency_L1L2_L"> - </span> - L1-L2 - <span id="AVR_DGU_frequency_L1L2_R"> - </span></p>
        <p id="DGU_L2L3"><span id="AVR_DGU_frequency_L2L3_L"> - </span> - L2-L3 - <span id="AVR_DGU_frequency_L2L3_R"> - </span></p>
        <p id="DGU_L3L1"><span id="AVR_DGU_frequency_L3L1_L"> - </span> - L3-L1 - <span id="AVR_DGU_frequency_L3L1_R"> - </span></p>
        <p id="DGU_line_frequency" class="valueName">Частота на линиях</p>
        <p id="DGU_L1">L1 - <span id="AVR_DGU_frequency_L1"> - </span></p>
        <p id="DGU_L2">L2 - <span id="AVR_DGU_frequency_L2"> - </span></p>

    </div>
    <div class="SHRI">
        <ul>
            <li>
                <div class="AVR">
                    <img class="image_of_AVR" src="~/img/AVR1_vector.svg" />

                    @*Шрик1*@
                    <p id="SHRI1_label">ШРИ 1</p>
                    <p id="SHRI1_label_AVR" class="titleLabel">АВР 1</p>
                    <p id="SHRI1_frequency_label" class="valueName">Частота на линиях</p>
                    <p id="SHRI1_frequency_L1_label">L1 - <span id="SHRI1_frequency_L1_value"> Err</span></p>
                    <p id="SHRI1_frequency_L2_label">L2 - <span id="SHRI1_frequency_L2_value"> Err</span></p>
                    <p id="SHRI1_line_voltage" class="valueName">Напряжение линий</p>
                    <p id="SHRI1_L1L2"><span id="SHRI1_frequency_L1L2_L"> - </span> - L1-L2 - <span id="SHRI1_frequency_L1L2_R"> - </span></p>
                    <p id="SHRI1_L2L3"><span id="SHRI1_frequency_L2L3_L"> - </span> - L2-L3 - <span id="SHRI1_frequency_L2L3_R"> - </span></p>
                    <p id="SHRI1_L3L1"><span id="SHRI1_frequency_L3L1_L"> - </span> - L3-L1 - <span id="SHRI1_frequency_L3L1_R"> - </span></p>

                    @*ИБП*@
                    <p id="SHRI1_IBP1_label">ИБП</p>
                    <p id="SHRI1_IBP1_percent"><span id="SHRI1_IBP1_charge">100</span>%</p>
                    <p id="SHRI1_IBP1_chargeTime">2ч 5мин</p>
                    <p id="SHRI1_IBP1_num">11</p>
                    <p id="SHRI1_IBP1_status">online</p>
                    <p id="SHRI1_IBP1_load"><span id="SHRI1_IBP1_loadValue">0</span>%</p>

                    <p id="SHRI1_DGU1label">ДГУ-1</p>
                    <p id="SHRI1_MachineRoomLabel" class="bigTitleLabel">Машзалы</p>
                </div>
            </li>
            <li>
                <div class="AVR">
                    <img class="image_of_AVR" src="~/img/AVR2_vector.svg" />

                    @*Шри2*@
                    <p id="SHRI2_label">ШРИ 2</p>
                    <p id="SHRI2_label_AVR" class="titleLabel">АВР 2</p>
                    <p id="SHRI2_frequency_label" class="valueName">Частота на линиях</p>
                    <p id="SHRI2_frequency_L1_label">L1 - <span id="SHRI2_frequency_L1_value"> Err</span></p>
                    <p id="SHRI2_frequency_L2_label">L2 - <span id="SHRI2_frequency_L2_value"> Err</span></p>
                    <p id="SHRI2_line_voltage" class="valueName">Напряжение линий</p>
                    <p id="SHRI2_L1L2"><span id="SHRI2_frequency_L1L2_L"> - </span> - L1-L2 - <span id="SHRI2_frequency_L1L2_R"> - </span></p>
                    <p id="SHRI2_L2L3"><span id="SHRI2_frequency_L2L3_L"> - </span> - L2-L3 - <span id="SHRI2_frequency_L2L3_R"> - </span></p>
                    <p id="SHRI2_L3L1"><span id="SHRI2_frequency_L3L1_L"> - </span> - L3-L1 - <span id="SHRI2_frequency_L3L1_R"> - </span></p>

                    @*ИБП*@
                    <p id="SHRI2_IBP_label">ИБП</p>
                    <p id="SHRI2_IBP1_percent"><span id="SHRI2_IBP1_charge">100</span>%</p>
                    <p id="SHRI2_IBP1_chargeTime">2ч 5мин</p>
                    <p id="SHRI2_IBP1_num">21</p>
                    <p id="SHRI2_IBP1_status">online</p>
                    <p id="SHRI2_IBP1_load"><span id="SHRI2_IBP1_loadValue">0</span>%</p>

                    <p id="SHRI2_DGU1label">ДГУ-1</p>
                    <p id="SHRI2_MachineRoomLabel" class="bigTitleLabel">Машзалы</p>
                </div>
            </li>
            <li>
                <div class="AVR">
                    <img class="image_of_AVR" src="~/img/AVR3_vector.svg" />

                    @*Шри3*@
                    <p id="SHRIK1_label">ШРИК 1</p>
                    <p id="SHRIK1_label_AVR" class="titleLabel">АВР 3</p>
                    <p id="SHRIK1_frequency_label" class="valueName">Частота на линиях</p>
                    <p id="SHRIK1_frequency_L1_label">L1 - <span id="SHRIK1_frequency_L1_value"> Err</span></p>
                    <p id="SHRIK1_frequency_L2_label">L2 - <span id="SHRIK1_frequency_L2_value"> Err</span></p>
                    <p id="SHRIK1_line_voltage" class="valueName">Напряжение линий</p>
                    <p id="SHRIK1_L1L2"><span id="SHRIK1_frequency_L1L2_L"> - </span> - L1-L2 - <span id="SHRIK1_frequency_L1L2_R"> - </span></p>
                    <p id="SHRIK1_L2L3"><span id="SHRIK1_frequency_L2L3_L"> - </span> - L2-L3 - <span id="SHRIK1_frequency_L2L3_R"> - </span></p>
                    <p id="SHRIK1_L3L1"><span id="SHRIK1_frequency_L3L1_L"> - </span> - L3-L1 - <span id="SHRIK1_frequency_L3L1_R"> - </span></p>

                    @*ИБП*@
                    <p id="SHRIK1_IBP_label">ИБП</p>
                    <p id="SHRIK1_IBP1_percent"><span id="SHRIK1_IBP1_charge">100</span>%</p>
                    <p id="SHRIK1_IBP1_chargeTime">2ч 5мин</p>
                    <p id="SHRIK1_IBP1_num">31</p>
                    <p id="SHRIK1_IBP1_status">online</p>
                    <p id="SHRIK1_IBP1_load"><span id="SHRIK1_IBP1_loadValue">0</span>%</p>

                    <p id="SHRIK1_DGU1label">ДГУ-1</p>
                    <p id="SHRIK1_MachineRoomLabel" class="bigTitleLabel">Технологическое<br />оборудование</p>


                </div>
            </li>
            <li>
                <div class="AVR">
                    @*Шрик2*@
                    <p id="SHRIK2_label">ШРИК 2</p>
                    <p id="SHRIK2_label_AVR" class="titleLabel">АВР 4</p>
                    <p id="SHRIK2_frequency_label" class="valueName">Частота на линиях</p>
                    <p id="SHRIK2_frequency_L1_label">L1 - <span id="SHRIK2_frequency_L1_value"> Err</span></p>
                    <p id="SHRIK2_frequency_L2_label">L2 - <span id="SHRIK2_frequency_L2_value"> Err</span></p>
                    <p id="SHRIK2_line_voltage" class="valueName">Напряжение линий</p>
                    <p id="SHRIK2_L1L2"><span id="SHRIK2_frequency_L1L2_L"> - </span> - L1-L2 - <span id="SHRIK2_frequency_L1L2_R"> - </span></p>
                    <p id="SHRIK2_L2L3"><span id="SHRIK2_frequency_L2L3_L"> - </span> - L2-L3 - <span id="SHRIK2_frequency_L2L3_R"> - </span></p>
                    <p id="SHRIK2_L3L1"><span id="SHRIK2_frequency_L3L1_L"> - </span> - L3-L1 - <span id="SHRIK2_frequency_L3L1_R"> - </span></p>
                    <img class="image_of_AVR" src="~/img/AVR4_vector.svg" />
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="blinker"></div>
<p id="timestamp">30.12.2020</p>
<p>обновление данных</p>
<script src="~/js/Energetics.js"></script>
<script src="~/js/JSON pharse.js"></script>