@font-face {
    font-family: 'Magistral';
    src: local('Magistral Light'), local('Magistral-Light'),
        url('Magistral-Light.woff2') format('woff2'),
        url('Magistral-Light.woff') format('woff'),
        url('Magistral-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: 'Magistral';
    src: local('Magistral Book Italic'), local('Magistral-Book-Italic'), url('Magistral-BookItalic.woff2') format('woff2'), url('Magistral-BookItalic.woff') format('woff'), url('Magistral-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}