p {
    margin: 0;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
}
/* Rectangle 1551 */



.floor, .roof {
    width: 690px;
    flex-grow: 0;
    margin: 15px;
    background-color: #EEEEEE;
    padding: 40px 15px 15px 15px;
    border-radius: 8px;
    position: relative
}

.roof {
    width: 1410px;
}

.roof2 {
    display: none;
    flex-direction: column;
    /*     min-width: calc(100% - 30px); */
    flex-grow: 0;
    margin: 15px;
    background-color: #EEEEEE;
    padding: 40px 15px 15px 15px;
    border-radius: 15px;
    position: relative
}

.block-title {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 30px;
}

.svg-alignment {
    position: absolute;
    top: 40px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 55px);
}

    .svg-alignment svg {
        position: absolute;
        top: 0;
        left: 0;
    }


@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#PE2 + p {
    position: absolute;
    top: 12%;
    left: 9%;
}

#PE3 + p {
    position: absolute;
    top: 9%;
    left: 12%;
}

#K14 + p {
    position: absolute;
    top: 36%;
    left: 12%
}

    #K14 + p + p {
        position: absolute;
        top: 44%;
        left: 12%;
        font-weight: 200;
        color: white;
        text-align: center;
        line-height: 14px;
        font-size: 14px;
    }

#K14_speed {
    position: absolute;
    top: 38%;
    left: 11%
}



#P1 circle, #P1 path {
    transform-origin: 75px 327px;
}



#P1 + p {
    position: absolute;
    top: 65%;
    left: 12%;
    background: #EEEEEE;
}

#PE1 + p {
    position: absolute;
    top: 75%;
    left: 10%;
}

#V1 circle, #V1 path {
    transform-origin: 91px 433px;
}

#V1 + p {
    position: absolute;
    top: 82%;
    left: 10%;
    background: #EEEEEE;
    height: 14px;
    line-height: 14px;
}

#V2 circle, #V2 path {
    transform-origin: 147px 433px;
}

#V2 + p {
    position: absolute;
    top: 81%;
    left: 16%;
    background: #EEEEEE;
    height: 14px;
    line-height: 14px
}

.circle-bar_stroke {
    transform: rotate(90deg);
    transition: all 1s;
}



#K15 + p {
    position: absolute;
    top: 36%;
    left: 20%;
}

    #K15 + p + p {
        position: absolute;
        top: 44%;
        left: 20%;
        font-weight: 200;
        color: white;
        text-align: center;
        line-height: 14px;
        font-size: 14px;
    }

#K15_speed {
    position: absolute;
    top: 38%;
    left: 19%
}


#K16 + p {
    position: absolute;
    top: 36%;
    left: 36%;
}

    #K16 + p + p {
        position: absolute;
        top: 44%;
        left: 36%;
        font-weight: 200;
        color: white;
        text-align: center;
        line-height: 14px;
        font-size: 14px;
    }

#K16_speed {
    position: absolute;
    top: 38%;
    left: 35%
}

#K17 + p {
    position: absolute;
    top: 36%;
    left: 57.5%;
}

    #K17 + p + p {
        position: absolute;
        top: 44%;
        left: 57.5%;
        font-weight: 200;
        color: white;
        text-align: center;
        line-height: 14px;
        font-size: 14px;
    }

#K17_speed {
    position: absolute;
    top: 38%;
    left: 56.5%;
}


#K18 + p {
    position: absolute;
    top: 36%;
    left: 65.5%;
}

    #K18 + p + p {
        position: absolute;
        top: 44%;
        left: 65.5%;
        font-weight: 200;
        color: white;
        text-align: center;
        line-height: 14px;
        font-size: 14px;
    }

#K18_speed {
    position: absolute;
    top: 38%;
    left: 64.5%
}

#K19 + p {
    position: absolute;
    top: 36%;
    left: 74%;
}

    #K19 + p + p {
        position: absolute;
        top: 44%;
        left: 74%;
        font-weight: 200;
        color: white;
        line-height: 14px;
        font-size: 14px;
    }

#K19_speed {
    position: absolute;
    top: 38%;
    left: 73%;
}


#V5_1 + p {
    position: absolute;
    top: 10%;
    left: 65%;
}


#V5_2 + p {
    position: absolute;
    top: 10%;
    left: 72%;
}


#V5_1 circle, #V5_1 path {
    transform-origin: 550px 94px;
}

#V5_2 circle, #V5_2 path {
    transform-origin: 608px 95px;
}

#OZK1 + p {
    position: absolute;
    top: 51%;
    left: 62%;
}

#UT + p {
    position: absolute;
    top: 6%;
    left: 60%;
}

#V6 + p {
    position: absolute;
    top: 18%;
    left: 59%;
}

#V6 circle, #V6 path {
    transform-origin: 541px 104px;
}

#V10 + p {
    position: absolute;
    top: 19%;
    left: 81%;
    HEIGHT: 20px;
    background: #EEEEEE;
    line-height: 18px;
}


#V10 circle, #V10 path {
    transform-origin: 629px 104px;
}

#K9 + p {
    position: absolute;
    top: 29%;
    left: 17%;
}

#K10 + p {
    position: absolute;
    top: 29%;
    left: 28%;
}

#K11 + p {
    position: absolute;
    top: 29%;
    left: 40%;
}

#K12 + p {
    position: absolute;
    top: 29%;
    left: 51%;
}

#K13 + p {
    position: absolute;
    top: 29%;
    left: 62%;
}


#OZK3 + p {
    position: absolute;
    top: 51%;
    left: 22%;
}


#OZK4 + p {
    position: absolute;
    top: 43%;
    left: 27%;
}

#OZK5 + p {
    position: absolute;
    top: 62%;
    left: 89%;
}

#OZK6 + p {
    position: absolute;
    top: 51%;
    left: 62%;
}

#OZK7 + p {
    position: absolute;
    top: 38%;
    left: 73%;
}

#K8 + p {
    position: absolute;
    top: 65%;
    left: 25%;
}

#K7 + p {
    position: absolute;
    top: 65%;
    left: 39%;
}

#K6 + p {
    position: absolute;
    top: 65%;
    left: 45%;
}

#K5 + p {
    position: absolute;
    top: 65%;
    left: 59%;
}

#K4 + p {
    position: absolute;
    top: 69%;
    left: 65%;
}

    #K4 + p + p {
        position: absolute;
        top: 59%;
        left: 65%;
        font-weight: 200;
        color: white;
        text-align: center;
        line-height: 14px;
        font-size: 14px;
    }

#K4_speed_1 {
    position: absolute;
    top: 62%;
    left: 64%;
    z-index: 2;
}

#K4_speed_2 {
    position: absolute;
    top: 65%;
    left: 64%;
    z-index: 2;
}

#K3 + p {
    position: absolute;
    top: 69%;
    left: 80%;
}

    #K3 + p + p {
        position: absolute;
        top: 59%;
        left: 80%;
        font-weight: 200;
        color: white;
        text-align: center;
        line-height: 14px;
        font-size: 14px;
    }

#K3_speed_1 {
    position: absolute;
    top: 62%;
    left: 79%;
    z-index: 2;
}

#K3_speed_2 {
    position: absolute;
    top: 65%;
    left: 79%;
    z-index: 2;
}

@media(max-width: 1300px) {
    #K3_speed_1 {
        top: 62%;
        left: 79%;
        z-index: 2;
    }

    #K3_speed_2 {
        top: 65%;
        left: 79%;
        z-index: 2;
    }
}

#K2 + p {
    position: absolute;
    top: 82%;
    left: 95%;
}

#K1 + p {
    position: absolute;
    top: 82%;
    left: 86%;
}

#VK1 + p {
    position: absolute;
    top: 85%;
    left: 12%;
}

#VK2 + p {
    position: absolute;
    top: 76%;
    left: 12%;
}

#OZK2 + p {
    position: absolute;
    top: 51%;
    left: 42%;
}

#OZK8 + p {
    position: absolute;
    top: 63%;
    left: 89%;
}

#P3 + p {
    position: absolute;
    top: 69%;
    left: 18%;
    height: 18px;
    background: #EEEEEE;
    line-height: 18px;
}


#P3 circle, #P3 path {
    transform-origin: 158px 375px;
}

#P2 + p {
    position: absolute;
    top: 63%;
    left: 10%;
    height: 18px;
    background: #EEEEEE;
    line-height: 18px;
}

#P2 circle, #P2 path {
    transform-origin: 106px 347px;
}

#V7 + p {
    position: absolute;
    top: 85%;
    left: 32%;
}


.speed-indicator span {
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    margin-left: 3px;
    background-color: grey;
}

@media(max-width:1300px) {
    .speed-indicator span {
        width: 4px;
        height: 4px;
        margin-left: 2px;
    }
}

@media(max-width:1070px) {
    .speed-indicator span {
        width: 6px;
        height: 6px;
        margin-left: 3px;
    }
}

#V7 circle, #V7 path {
    transform-origin: 304px 442px;
}

#V8 + p {
    position: absolute;
    top: 85%;
    left: 51%;
}


#V8 circle, #V8 path {
    transform-origin: 465px 441px;
}

#V9 + p {
    position: absolute;
    top: 85%;
    left: 72%;
}


#V9 circle, #V9 path {
    transform-origin: 634px 441px;
}

#V11 + p {
    position: absolute;
    top: 88%;
    left: 87%;
}


#V11 circle, #V11 path {
    transform-origin: 767px 441px;
}





#Ch1 + p {
    position: absolute;
    top: 32%;
    left: 1%;
}

    #Ch1 + p + p {
        position: absolute;
        top: 24%;
        left: 1.5%;
        background-color: grey;
    }

#Ch2 + p {
    position: absolute;
    top: 32%;
    left: 5%;
}

    #Ch2 + p + p {
        position: absolute;
        top: 24%;
        left: 5.5%;
        background-color: grey;
    }


#Ch3 + p {
    position: absolute;
    top: 32%;
    left: 9.5%;
}

    #Ch3 + p + p {
        position: absolute;
        top: 24%;
        left: 10%;
        background-color: grey;
    }

#Ch4 + p {
    position: absolute;
    top: 32%;
    left: 13.5%;
}

    #Ch4 + p + p {
        position: absolute;
        top: 24%;
        left: 14%;
        background-color: grey;
    }

#Ch5 + p {
    position: absolute;
    top: 32%;
    left: 18%;
}

    #Ch5 + p + p {
        position: absolute;
        top: 24%;
        left: 18.5%;
        background-color: grey;
    }

#Ch6 + p {
    position: absolute;
    top: 32%;
    left: 22%;
}

    #Ch6 + p + p {
        position: absolute;
        top: 24%;
        left: 22.5%;
        background-color: grey;
    }

#Ch7 + p {
    position: absolute;
    top: 32%;
    left: 26.5%;
}

    #Ch7 + p + p {
        position: absolute;
        top: 24%;
        left: 27%;
        background-color: grey;
    }

.man-avt {
    padding: 0px 4px;
    color: white;
}



.ChPer {
    width: 100%;
    padding-bottom: 250%; /* = width / 1.41 */
    position: relative;
    overflow: hidden;
    display: none;
}

    .ChPer:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(118, 187, 129);
        transform-origin: 0 100%;
        transform: rotate(25deg);
    }


#YA1 + p {
    position: absolute;
    top: 0%;
    left: 58%;
    background: #EEEEEE;
}

#YA2 + p {
    position: absolute;
    top: 8%;
    left: 58%;
}

#G1_M1 + p {
    position: absolute;
    top: 15%;
    left: 37%;
}


    #G1_M1 + p + p {
        position: absolute;
        top: 39%;
        left: 47%;
    }

        #G1_M1 + p + p + p {
            position: absolute;
            top: 39%;
            left: 35%;
        }


#G1_M2 + p, #G1_M3 + p, #G1_M4 + p, #G1_M5 + p, #G1_M6 + p, #G2_M2 + p, #G2_M3 + p, #G2_M4 + p, #G2_M5 + p, #G2_M6 + p {
    display: none;
}

#G1_M1 circle, #G1_M1 path {
    transform-origin: 698px 140px;
}

#G1_M2 + p {
    position: absolute;
    top: 22%;
    left: 41%;
}

#G1_M2 circle, #G1_M2 path {
    transform-origin: 753px 140px;
}

#G1_M3 + p {
    position: absolute;
    top: 22%;
    left: 44%;
}

#G1_M3 circle, #G1_M3 path {
    transform-origin: 808px 140px;
}

#G1_M4 + p {
    position: absolute;
    top: 46%;
    left: 38%;
}

#G1_M4 circle, #G1_M4 path {
    transform-origin: 697px 197px;
}

#G1_M5 + p {
    position: absolute;
    top: 46%;
    left: 41%;
}

#G1_M5 circle, #G1_M5 path {
    transform-origin: 754px 197px;
}

#G1_M6 + p {
    position: absolute;
    top: 46%;
    left: 44%;
}

#G1_M6 circle, #G1_M6 path {
    transform-origin: 809px 197px;
}

#G2_M1 + p {
    position: absolute;
    top: 43%;
    left: 62%;
}

    #G2_M1 + p + p {
        position: absolute;
        top: 30%;
        left: 62%;
    }

        #G2_M1 + p + p + p {
            position: absolute;
            top: 27%;
            left: 50%;
        }



#G2_M1 circle, #G2_M1 path {
    transform-origin: 968px 142px;
}

#G2_M2 + p {
    position: absolute;
    top: 22%;
    left: 56%;
}

#G2_M2 circle, #G2_M2 path {
    transform-origin: 1023px 142px;
}

#G2_M3 + p {
    position: absolute;
    top: 22%;
    left: 59%;
}

#G2_M3 circle, #G2_M3 path {
    transform-origin: 1078px 142px;
}

#G2_M4 + p {
    position: absolute;
    top: 46%;
    left: 53%;
}

#G2_M4 circle, #G2_M4 path {
    transform-origin: 967px 199px;
}

#G2_M5 + p {
    position: absolute;
    top: 46%;
    left: 56%;
}

#G2_M5 circle, #G2_M5 path {
    transform-origin: 1024px 199px;
}

#G2_M6 + p {
    position: absolute;
    top: 46%;
    left: 59%;
}

#G2_M6 circle, #G2_M6 path {
    transform-origin: 1079px 199px;
}

.rotation circle, .rotation path {
    animation: 6s linear 0s normal none infinite running rot;
    -webkit-animation: 6s linear 0s normal none infinite running rot;
    transform-origin: 20px 20px;
}




#YA4 + p {
    position: absolute;
    top: 9%;
    left: 67%;
    background: #EEEEEE;
}

#YA3 + p {
    position: absolute;
    top: 19%;
    left: 72%;
}

#N1 + p {
    position: absolute;
    top: 64%;
    left: 45%;
    height: 18px;
    line-height: 18px;
    background: #EEEEEE;
}

#N2 + p {
    position: absolute;
    top: 64%;
    left: 56%;
    height: 18px;
    line-height: 18px;
    background: #EEEEEE;
}

#N3 + p {
    position: absolute;
    top: 64%;
    left: 67%;
    height: 18px;
    line-height: 18px;
    background: #EEEEEE;
}

#N4 + p {
    position: absolute;
    top: 29%;
    left: 74%;
    height: 18px;
    line-height: 18px;
    background: #EEEEEE;
}


#BZ + p {
    position: absolute;
    top: 48%;
    left: 70%;
    height: 18px;
}

#c-bar1 {
    top: 14%;
    left: 21%;
}

#c-bar2 {
    top: 13%;
    left: 28%;
}


#c-bar3 {
    bottom: 19%;
    left: 29%;
}

    #c-bar3 p + p + p {
        top: inherit;
        bottom: -1.6em;
    }

#c-bar4 {
    bottom: 19%;
    left: 49%;
}

    #c-bar4 p + p + p {
        top: inherit;
        bottom: -1.6em;
    }

#c-bar5 {
    bottom: 19%;
    left: 69%;
}

    #c-bar5 p + p + p {
        top: inherit;
        bottom: -1.6em;
    }

#c-bar6 {
    top: 69%;
    right: 61%;
}

#c-bar7 {
    top: 81%;
    right: 61%
}


#c-bar8 {
    top: 11%;
    right: calc(12% + 70px);
    border-right: none;
}

#c-bar9 {
    top: 11%;
    right: 12%;
    border-left: none;
}



#c-bar10 {
    top: -4%;
    right: calc(2% + 70px);
    border-right: none;
}

#c-bar11 {
    top: -4%;
    right: 2%;
    border-left: none;
}


#c-bar12 {
    top: 39%;
    right: 2%;
}

#c-bar13 {
    top: 81%;
    right: calc(12% + 70px);
    border-right: none;
}

#c-bar14 {
    top: 81%;
    right: 11%;
}

#c-bar15 {
    top: 77%;
    right: 20%;
}

#c-bar16 {
    top: 71%;
    right: 2%;
}




.bar-container {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #EEEEEE;
    border: 1px solid grey;
}

    .bar-container svg circle {
        transform-origin: 50% 50%;
    }

    .bar-container svg + p {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: 600;
        font-size: 18px;
    }

        .bar-container svg + p + p {
            position: absolute;
            top: calc(50% + 1em);
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 14px;
        }

            .bar-container svg + p + p + p {
                position: absolute;
                top: -1em;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 400%;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
            }

.bar-container-big {
    border: none;
    background-color: none;
}
/* @media (max-width:2000px) { */
.bar-container {
    width: 60px;
    height: 60px;
}

    .bar-container svg + p + p {
        font-size: 12px;
    }

#c-bar8 {
    top: 11%;
    right: calc(12% + 60px);
    border-right: none;
}

#c-bar10 {
    top: -4%;
    right: calc(2% + 60px);
    border-right: none;
}

#c-bar13 {
    top: 81%;
    right: calc(12% + 60px);
    border-right: none;
}


/* } */

@media (max-width:1440px) {
    /*     .floor{
        width:520px;
    } 
    .roof {
        width: 1070px;
    } */
    .floor, .roof {
        width: 950px;
    }
}

@media (max-width:1280px) {
    .bar-container {
        width: 50px;
        height: 50px;
    }

        .bar-container svg + p {
            font-size: 12px;
        }

            .bar-container svg + p + p {
                font-size: 10px;
            }

                .bar-container svg + p + p + p {
                    font-size: 14px;
                }

    #c-bar8 {
        top: 11%;
        right: calc(12% + 50px);
        border-right: none;
    }

    #c-bar10 {
        top: -4%;
        right: calc(2% + 50px);
        border-right: none;
    }

    #c-bar13 {
        top: 81%;
        right: calc(12% + 50px);
        border-right: none;
    }

    .floor, .roof {
        width: 950px;
    }
}

@media (max-width:1070px) {
    .bar-container {
        width: 40px;
        height: 40px;
    }

        .bar-container svg + p {
            font-size: 10px;
        }

            .bar-container svg + p + p {
                font-size: 8px;
            }

    #c-bar8 {
        top: 11%;
        right: calc(12% + 40px);
        border-right: none;
    }

    #c-bar10 {
        top: -4%;
        right: calc(2% + 40px);
        border-right: none;
    }

    #c-bar13 {
        top: 81%;
        right: calc(12% + 40px);
        border-right: none;
    }

    #c-bar15 {
        top: 71%;
        right: calc(2% + 40px);
        border-right: none;
    }
}



@media (max-width:1059px) {
    .bar-container-big {
        width: 70px;
        height: 70px;
    }

    .bar-container svg + p {
        font-size: 18px;
    }

        .bar-container svg + p + p {
            font-size: 14px;
        }

            .bar-container svg + p + p + p {
                font-size: 18px;
            }

    .roof {
        display: none;
    }

    .roof2 {
        display: flex;
        width: 950px;
    }
}

@media (max-width:1000px) {
    .floor, .roof2 {
        width: 670px;
    }
}

.roof2__row {
    flex-direction: row;
    display: flex;
}

.roof2__chiller {
    flex-grow: 0;
    display: flex;
    min-width: 30px;
    background-color: grey;
    margin: 1.5em 15px 0px 5px;
    position: relative;
}

    .roof2__chiller p {
        position: absolute;
        top: 0.5em;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 18px;
    }

.valves__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-top: 25px;
    margin: 30px 0px 15px 15px;
}

    .valves__row p {
        position: absolute;
        right: 0;
        font-size: 18px;
        text-align: right;
    }

    .valves__row svg + p {
        top: 0
    }

        .valves__row svg + p + p {
            top: 25%
        }

            .valves__row svg + p + p + p {
                top: 50%
            }

                .valves__row svg + p + p + p + p {
                    top: 75%
                }

.chil-container {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 0;
}

    .chil-container p {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        font-size: 14px;
    }

        .chil-container p + p {
            margin-top: 18px;
        }

.valves__row svg {
    margin: auto;
}

    .valves__row svg + p {
        text-align: left;
        top: 5%;
    }

        .valves__row svg + p + p {
            text-align: left;
            top: auto;
            bottom: 25%;
        }

.roof2__valves {
    display: flex;
    width: 20%;
    position: relative;
}

    .roof2__valves p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin-left: 7.5px;
        line-height: 14px;
    }

.roof2__bars {
    max-width: 30%;
    position: relative;
    border: 1px solid #bcbaba;
    padding: 0 10px;
    margin-left: 15px;
}

    .roof2__bars p {
        position: relative;
        top: 0.5em;
        text-align: center;
        width: 100%;
        line-height: 14px;
    }

.row_line2 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding: 20px 10px 10px 0;
    margin: 15px 0px 15px 15px;
    border: 1px solid #bcbaba;
    position: relative;
    width: 20%;
}

    .row_line2:first-child {
        margin-left: 0
    }

.roof2__chiller {
    margin-left: 0
}

.grad {
    padding: 20px 0 10px 0;
    padding-right: 4%;
}

    .grad p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

.vent-line {
    display: flex;
    flex-direction: row;
}

.bars__row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
}

    .bars__row p {
        position: absolute;
        top: -1em;
        text-align: center;
        width: 100%;
    }

.roof2__bar-container {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 0 auto;
}

    .roof2__bar-container p {
        position: absolute;
    }



    .roof2__bar-container svg circle {
        transform-origin: 50% 50%;
    }

    .roof2__bar-container svg + p {
        font-size: 18px;
        font-weight: 600;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

        .roof2__bar-container svg + p + p {
            font-size: 14px;
            top: calc(50% + 1em);
            left: 50%;
            transform: translate(-50%,-50%);
        }

.vent-line svg {
    padding: 10px 0 0 10px;
    margin-left: 10%;
}

.tStreet {
    position: static;
    margin: auto;
}

    .tStreet p {
        top: 0;
        font-size: 18px;
        left: 0;
        font-size: 14px;
    }


.roof2__row .roof2__bars:first-child {
    margin-left: 0;
}

.row_line3 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin-left: 15px;
    position: relative;
    padding: 4%;
    border: 1px solid #bcbaba;
}

    .row_line3 p {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        font-size: 14px;
        left: 0;
    }

    .row_line3 svg {
        margin: auto;
    }

.hatching {
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, #437eb4 49.9%, #437eb4 60%, rgba(0, 0, 0, 0) 60%) fixed, linear-gradient(45deg, #437eb4 10%, rgba(0, 0, 0, 0) 10%) fixed;
    background-size: 0.5em 0.5em;
    border: 1px solid #437eb4;
    display: none;
}

.Ch-hatching {
    width: calc(100% + 14px);
    left: -7px;
    z-index: 2;
}

.flow-container {
    position: absolute;
    width: 14px;
    height: 24px;
    display: none;
}



#Ch1_flow {
    top: 40%;
    left: 0.8%;
}

#Ch2_flow {
    top: 40%;
    left: 5.2%;
}

#Ch3_flow {
    top: 40%;
    left: 9.4%;
}

#Ch4_flow {
    top: 40%;
    left: 13.6%;
}

#Ch5_flow {
    top: 40%;
    left: 17.8%;
}

#Ch6_flow {
    top: 40%;
    left: 22.1%;
}

#Ch7_flow {
    top: 40%;
    left: 26.4%;
}

.flow-arrow {
    position: absolute;
    width: 14px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

    .flow-arrow:first-child {
        animation: move 3s ease-out 1s infinite;
    }

    .flow-arrow:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    }

    .flow-arrow:before,
    .flow-arrow:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #fff;
    }

    .flow-arrow:before {
        left: 0;
        transform: skew(0deg, 30deg);
    }

    .flow-arrow:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
    }

@keyframes move {
    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

#Ch1_absent, #Ch2_absent, #Ch3_absent, #Ch4_absent, #Ch5_absent, #Ch6_absent, #Ch7_absent {
    display: none;
}

#Ch1_flow4, #Ch2_flow4, #Ch3_flow4, #Ch4_flow4, #Ch5_flow4, #Ch6_flow4, #Ch7_flow4 {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#G1_flow {
    transform: rotate(90deg);
    top: 33.6%;
    left: 43%;
    z-index: 2
}

    #G1_flow .flow-arrow:before, #G1_flow .flow-arrow:after {
        background: #cb8585;
    }

#G2_flow {
    transform: rotate(90deg);
    top: 33%;
    left: 58%;
}

    #G2_flow .flow-arrow:before, #G2_flow .flow-arrow:after {
        background: #cb8585;
    }

#G1_flow4, #G2_flow4 {
    right: 5px;
}

#blinker {
    position: absolute;
    top: 70px;
    right: 15px;
    height: 15px;
    width: 15px;
    background-color: #76BB81;
    border-radius: 50%;
    transition: all 0.5s;
    opacity: 0.1;
    z-index: 0;
    cursor: help;
}

#timestamp {
    position: absolute;
    top: 6px;
    right: 104px;
    color: black;
    font-size: 18px;
}

    #timestamp + p {
        position: absolute;
        top: 32px;
        right: 104px;
        color: grey;
        font-size: 12px;
    }

#N1_avt {
    position: absolute;
    top: 62%;
    left: 47%;
    background-color: grey;
}

#N2_avt {
    position: absolute;
    top: 61%;
    left: 58%;
    background-color: grey;
}

#N3_avt {
    position: absolute;
    top: 61%;
    left: 69%;
    background-color: grey;
}

#N4_avt {
    position: absolute;
    top: 27%;
    left: 72%;
    background-color: grey;
}

#N1_avt4, #N2_avt4, #N3_avt4 {
    margin-top: 20px;
}

.handAuto {
    color: white;
    background-color: grey;
}
