<!DOCTYPE html>
<html lang="ru">
<head>

    <link rel="icon" type="image/png" sizes="192x192" href="~/img/logo192x192.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0" />
    <title>@ViewData["Title"] - ЦОД</title>
    <link href="~/css/_Layout.css" rel="stylesheet" />
    <link href="~/css/roboto/roboto.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/roboto/roboto.css" rel="stylesheet" />
    <link href="~/css/Magistral/style.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/Chart.css" rel="stylesheet" />
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/Chart.js"></script>



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="logo_image" src="~/img/logo.png" />
        <a class="navbar-brand" href="/Home/Index">CoreDataNet ЦОД</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">основной экран<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Energetics">энергетика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Trends">тренды</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="fire_alarm" class="fire_navbar">Ы
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 41C32.0457 41 41 32.0457 41 21C41 9.9543 32.0457 1 21 1C9.9543 1 1 9.9543 1 21C1 32.0457 9.9543 41 21 41Z" stroke="#FF0A0A" />
            <path d="M13.6127 33.1986C12.2105 31.5817 10.8084 29.9002 9.91609 27.8952C9.02383 25.761 8.76888 23.3033 9.21504 20.975C9.6612 18.6466 10.6809 16.4477 12.1468 14.572C12.0194 16.1889 12.593 17.8706 13.6764 19.0993C13.0391 15.9949 14.0588 12.6318 16.0983 10.1741C18.1378 7.71644 20.9421 6.09947 23.8738 5C22.408 6.55222 22.2168 9.00988 22.7904 11.0795C23.364 13.1491 24.575 14.96 25.6584 16.8357C26.7418 18.7112 27.7616 20.6515 27.8254 22.7859C28.399 21.6864 29.0363 20.5868 29.4187 19.358C29.8012 18.1291 29.9923 16.8357 29.6737 15.6068C30.8209 17.0297 31.4582 18.4525 31.7769 20.2635C32.0956 22.0744 32.0319 23.9499 31.8406 25.761C31.5857 27.7659 31.0759 29.8355 29.9923 31.517C28.7178 33.5219 26.6782 34.9448 24.4476 35.7209C20.4959 36.4325 16.6081 35.8503 13.6127 33.1986Z" fill="#FF0A0A" />
            <path d="M18.361 35.5924C23.7735 37.6698 29.12 31.3728 26.1498 26.5041C26.1498 26.4392 26.0837 26.4392 26.0837 26.3742C26.3478 29.0358 25.6876 30.9833 24.4335 32.0869C25.0937 30.5289 24.6315 28.7113 23.8394 27.1533C23.0473 25.6602 21.9253 24.2969 21.0672 22.8687C20.209 21.3756 19.549 19.6878 19.9451 18C18.361 19.1685 17.2388 20.9213 16.7768 22.8038C16.3148 24.6864 16.5788 26.7638 17.4369 28.5165C16.4467 27.8024 15.7207 26.634 15.6548 25.4006C14.5986 26.634 13.9385 28.2568 14.0045 29.8797C14.0045 32.4116 16.0507 34.6836 18.361 35.5924Z" fill="white" fill-opacity="0.5" />
        </svg>
    </div>



    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.touchSwipe.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
